.card-project {
    position: relative;
    width: 32%;
    min-width: 400px;
    height: 260px;
    background-color: var(--card);
    cursor: pointer;
    transition: 0.5s all;
    z-index: 10;
}

.card-project:hover {
    transform: translateY(-5px);
    .project-name{
        display: none;
    }
}

.project-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s all;
    filter: brightness(30%);
    z-index: -20;
}

.project-img:hover {
    filter: brightness(100%)
}

.project-name{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 2rem;
    font-weight: 500;
    
    
}

.project-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: var(--card);
    position: absolute;
    top:100px;
    border-radius: 0px 0px 10px 10px;
    z-index: -1;
    padding: 20px;
}

.btn-more{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: var(--text-light);
    background-color: var(--text-color);
    cursor: pointer;
    transition: 0.5s all;
}

.btn-more:hover{
    background-color: var(--btn-hover);
    transform: translateY(-2px);
}

@media screen and (max-width: 1064px) {
    .card-project{
        height: 200px;
        min-width: 300px;
    }

    .project-name{
        font-size: 1.5rem;
    }
}

