.about {
    background-color: var(--background-light);
}

/* Sobre mim */

.container-about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.img-kaique {
    height: 350px;
}

.title {
    color: var(--text-light);
}

.about-text {
    width: 50%;
}


@media screen and (max-width: 1064px) {
    .container-about {
        flex-direction: column;
    }

    .about-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .img-kaique{
        height: 200px;
    }
}