header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 80px;
    width: 100%;
    background-color: var(--background-light);
    position: fixed;
    z-index: 1;
}

.name-logo{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
}



.nav-list{
    display: flex;
    gap: 40px;
    list-style: none;
    flex-wrap: wrap;
}

.nav-item a{
    transition: 0.5s all;
    color: var(--text-light);
}

.nav-item a:hover{
    color: var(--text-color);
}

@media screen and (max-width: 1064px) {

    .nav-list{
        display: none;
    }
}