.header-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 80px;
    width: 100%;
    background-color: var(--background-light);
    position: fixed;
    z-index: 1;
}

.name-logo{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
}



.nav-list{
    display: flex;
    gap: 40px;
    list-style: none;
    flex-wrap: wrap;
}

.nav-item a{
    transition: 0.5s all;
    color: var(--text-light);
}

.nav-item a:hover{
    color: var(--text-color);
}

/* Menu mobile */

.menu-mobile{
    display: none;
    color: var(--text-color);
    font-size: 3rem;
    cursor: pointer;
    transition: 0.5s all;

}

.menu-mobile:hover, .close-menu:hover{
    color: var(--btn-hover);
}

.header-mobile{
    height: 0px;
    transition: 0.5s all;
    overflow: hidden;
}



@media screen and (max-width: 1064px) {

    .nav-link{
        position: relative;
    }

    .menu-mobile{
        display: block;
    }

    .nav-list{
        display: none;
    }

    .header-mobile{
        position: fixed;
        right: 10px;
        width: 250px;
       margin-top: 85px;
        background-color: var(--card);
        z-index: 3;
        border-radius: 20px;
    }

    .nav-item{
        padding: 20px;
        transition: 0.5s all;
        cursor: pointer;
        list-style: none;
    }

    .nav-item:hover{
        background-color: rgb(37, 41, 43);
        
    }

    .name-logo{
        font-size: 1.5rem;
    }


    
    .close-menu{
        position: absolute;
        right: 10px;
        top: 10px;
        color: var(--text-color);
        font-size: 2rem;
        cursor: pointer;
        transition: 0.5s all;
    }
}