@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration: none;
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) #a4232300;    
}

:root {
  --background: #111111;
  --background-light: #151515;
  --text-color: #006DD8;
  --text-light: #fff;
  --btn-hover: #0052a3;
  --card: #273136;
}

body {
  background-color: var(--background);
}